{% extends "layout.html" %}
{% load i18n %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">{% translate "Users" %}</h1>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>{% translate "Username" %}</th>
      <th>{% translate "Full username" %}</th>
      <th>{% translate "Date of creation" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      {% for user in users %}
      <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.date_joined }}</td>
        <td>
            <a href="/users/{{ user.id }}/update/">Изменить</a>
          <br>
          <a href="/users/{{ user.id }}/delete/">Удалить</a>
        </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}      
